.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: var(--overlay-color);
}

.book-trip-popup {
  position: relative;
  flex: 1;
  max-width: 380px;
  padding: 25px 40px 30px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
}

.book-trip-popup__close {
  position: absolute;
  top: 15px;
  right: 25px;
  padding: 0;
  font-weight: 300;
  font-size: var(--font-size-400);
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
}

.book-trip-popup__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-trip-popup__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  padding-top: 15px;
  border-top: 1px solid var(--color-gray);
}

.book-trip-popup__total-value {
  font-weight: 600;
  font-size: var(--font-size-400);
}
