/* Table of contents

- variables
- scaffolding
- components
  - input
  - select
  - button
  - modal
  - loader
  - trip-info
  - trip-price
- layout
  - header
  - profile-nav
  - footer
- pages
  - sign-up/sign-in pages
  - main-page
    - trips-filter
    - trips
  - trip-page
    - book-trip-popup
  - bookings-page
- animations

*/

/* variables */

:root {
  --color-white: #ffffff;
  --color-blue-100: #eef8fb;
  --color-blue-200: #96daf0;
  --color-blue-300: #7cbcde;
  --color-blue-400: #242a3a;
  --color-gray: #e1e1e1;
  --overlay-color: rgb(0 0 0 / 30%);
  --shadow: -1px 4px 74px -16px rgb(0 0 0 / 15%);
  --font-size-100: 14px;
  --font-size-200: 16px;
  --font-size-300: 18px;
  --font-size-400: 24px;
  --font-size-500: 32px;
  --font-size-600: 36px;
  --container-width: 1000px;
}

/* scaffolding */

:focus,
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-blue-300);
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-blue-200);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-blue-400);
  font-size: var(--font-size-200);
  font-family: Assistant, sans-serif;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizespeed;
  background-color: var(--color-white);
}
main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
select {
  color: inherit;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

/* components */

/* input */

/* select */

.select select {
  min-width: 160px;
  min-height: 45px;
  padding: 10px 40px 10px 15px;
  font-size: var(--font-size-300);
  background-color: var(--color-white);
  background-color: var(--color-white);
  background-image: url('/assets/images/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
  background-size: 15px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  appearance: none;
}

/* button */


/* modal */

/* loader */

/* trip-info */

.trip-info {
  width: 100%;
  max-width: 300px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-gray);
}

.trip-info__title {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: var(--font-size-400);
  font-family: 'Playfair Display', serif;
}

.trip-info__content {
  display: flex;
  font-weight: 300;
}

.trip-info__duration {
  min-width: 120px;
  padding-left: 25px;
  background-image: url('/assets/images/calendar.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 15px;
}

.trip-info__level::before {
  content: '•';
  margin-right: 10px;
  color: var(--color-blue-200);
}

/* trip-price */

.trip-price__value {
  display: block;
  color: var(--color-blue-200);
  font-size: var(--font-size-600);
  line-height: 1;
}

/* layout */

/* header */

/* footer */

/* pages */

/* sign in/sign up pages */

.sign-up-page,
.sign-in-page {
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 340px;
  margin-bottom: 30px;
}

.sign-up-form__title,
.sign-in-form__title {
  margin: 0 0 20px;
  font-size: var(--font-size-400);
  text-align: center;
}

.sign-up-form__link,
.sign-in-form__link {
  color: var(--color-blue-200);
  transition: 0.1s color ease;
}

.sign-up-form__link:hover,
.sign-in-form__link:hover {
  color: var(--color-blue-300);
}

/* main-page */

/* trips-filter */

/* trips */

/* trip-page */

.trip-page {
  padding: 60px 20px;
}

.trip {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.trip__img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.trip__content {
  display: flex;
  flex: 1 1 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-top: 20px;
}

.trip__description {
  opacity: 0.7;
}

.trip__button {
  max-width: 200px;
}

/* book-trip-popup */


/* bookings-page */

.bookings-page {
  padding: 60px 20px;
}

/* animations */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
